body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(to top right, #0047ab, #6ea8fe);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #0047ab;
    margin-bottom: 24px;
}

form input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 14px;
    background-color: #0047ab;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

p a {
    color: #0047ab;
    text-decoration: none;
    font-size: 14px;
}

p a:hover {
    text-decoration: underline;
}

.logo-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    width: 150px;
    height: auto;
    margin-top: -30px;
    margin-bottom: -40px;
}